.section-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    position: relative;
    background-color: #f5f5f5; /* Light background color */
    padding: 20px 0;
  }
  
  .line {
    height: 2px;
    background-color: #c5bfb6; /* Light beige color */
    flex: 1;
  }
  
  .diamond {
    width: 10px;
    height: 10px;
    background-color: #c5bfb6; /* Light beige color */
    transform: rotate(45deg); /* Rotate to make a square look like a diamond */
    margin: 0 10px;
  }
  
  .title {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #7d7b78; /* Dark beige/gray color */
    margin: 0 10px;
    text-align: center;
    white-space: nowrap; /* Prevent title from breaking into multiple lines */
  }
  